.title {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.order_container {
  direction: rtl;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  margin-top: 10vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartProducts {
  margin-bottom: 20px;
}

.totalPrice {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.moreDetails {
  text-align: right;
  margin-bottom: 20px;
}

.deliveryDate,
.remarks {
  margin-bottom: 10px;
}

.order_input_date,
.order_input_remarks {
  background-color: #efe8e8;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: calc(100% - 22px); /* Adjust width for padding and border */
}

.order_input_remarks {
  background-color: #f1e5e5;
  height: 100px;
}

.order_input_remarks:hover,
.order_input_date:hover {
  background-color: #e0e0e0;
}

.finish_order_button {
  background-color: #b1e773;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.finish_order_button:hover {
  background-color: #45a049;
}
