.databody {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    gap: 10px;
    margin-top: 100px;
    grid-template-rows: auto; 

}

.editForm_container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    border-radius: 5px;
    margin-right: 150px;
    border-left: black dashed 5px;
    padding-left: 300px;
}

.editForm_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding-bottom: 20px;

}
.editInput {
    background-color: #efe8e8;
    width: 250px;
    padding: 3%;
    margin: 1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


.data_information {
    text-align: center;
    margin: auto;
    box-shadow: rgba(58, 63, 37, 0.35) 0px 5px 15px;
    width: 50%;
    border-radius: 5px;
    padding-bottom: 10px;
    border-left: black dashed 5px;

}

.editButton {
    margin-top: 10px;
}

.editButton:hover {
    color: #a1db50;
    box-shadow: rgba(210, 227, 142, 0.35) 0px 5px 15px;


}

@media (max-width: 768px) {
    .databody {
        display: block;
        margin-left: 4vw;
        margin-top: 10vw;
    }

  
}