עיצוב עיקרי
.imgAboutuSRight {
  flex: 1;
  margin-right: 10px;

}
.imgAboutuSLeft{
  flex: 2;
  margin: auto;
  margin-left: 10px;

}
.hero {
  margin-top: 10vh;
  background-color: #effadd;
  padding: 50px 0;
  text-align: center;
}

.rightSideTxt{
  margin-right: 10px;
  padding: 50px 0;
  text-align: right;
  flex: 1;
  margin-right: 10px;

}
.leftSideTxt{
  margin-left: 10px;
  padding: 50px 0;
  text-align: right;
  flex: 2;
}

section {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.container{
  overflow: hidden;
  display: flex;
}


 

.section-image img {
  max-width: 100%; /* Ensure image does not exceed container width */
}




.section-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.section-subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
.lastDivManyItems{
  display: flex;
}
.select-item1 {
  flex: 1
}
.select-item2 {
  flex: 3
}
.select-item3{
  flex: 5
}
.select-item{
  flex: 7
}

.section-content {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin: 5vh;
}

.section-list {
  list-style-type: none;
  padding: 0;
  direction: rtl;
}

.section-list-item {
  margin-bottom: 10px;
}




