
.wrongRequest {
  font-size: 16px;
  color: #2d5a02;
  margin-top: 10px;
}
.home-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.home-header {
  /* background-color: #4CAF50;
  color: white; */
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.home-title {
  margin: 0;
}

.home-section {
  /* position: absolute; */
    flex-direction: column;
    align-items: right;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 2rem 3rem ;
    width: 30vw;
    height: auto;
    /* background-color: rgb(240, 232, 224);
    border-radius: 7px; */
    opacity: 0; /* Initially hidden */
    transform: translateY(100px); /* Start position */
    animation: floatIn 2s forwards; /* Apply the animation */
}

@keyframes floatIn {
    from {
        opacity: 0;
        transform: translateY(100px); /* Start 100px below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End at its original position */
    }
}


.section-title {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.section-content {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}

.section-list {
  list-style-type: none;
  padding: 0;
}

.section-list-item {
  margin-bottom: 5px;
  font-size: 1.1em;
  color: #555;
}

.order-now .section-content {
  font-weight: bold;
}
/* .about-us{
  top:100px;
  right: 0;
}
.products{
left: 0;
}
.technology{
  right: 100px;
  top:430px;
}
.quality-control{
  left:30px;
  top:450px
}
.ordering{
  right: 0;
  top:780px
}
.why-choose-us{
  left: 20px;
  top:800px
}
.product-details{
  left: 200px;
  top:1400px
}
.order-now{
  left: 400px;
}
.body{
  height: auto;
} */

/* 
a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
