/* orderProduct.css */

.orderProduct {
  display: flex;
  flex-direction: column; /* Change to column to stack items vertically */
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.productDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orderProduct p {
  margin: 5px 0;
}

.button {
  background-color: #afa7a7;
  margin: 5px; 
}

.button:hover {
  background-color: #f0eaea;
}

.editAmountContainer {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  margin-top: 10px;
}

.editAmountContainer .button {
  align-self: flex-start; 
}
