.usersbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
    direction: rtl;
}

.user_section {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    background-color: #fff;
    border-left: black dashed 5px;
    width: 50%;
    text-align: right; 
    direction: rtl; 
    height: fit-content;
    padding-left: 20px;
    margin-top: 40px;

}

.user_section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_field {
    background-color: #efe8e8;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.edit_user{
margin-right: 50px;
margin-top: 40px;
}

.button {
    margin: 10px 0;
    padding: 10px;
    background-color: #b1e773;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #7ba64a;
}

.changePassword h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .usersbody {
        display: block;
        margin: 10px;
    }

    .user_section {
        width: 100%;
        margin-bottom: 20px;
    }
}
