.users_table {
    direction: rtl;
    width: 80%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 10%;
}

.users_table th,
.users_table td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: right; /* יישור לימין */
}

.users_table th {
    background-color: #f2f2f2;
    color: #333;
}

.loadMoreButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cards_users {
    display: none;
}

.loadMoreButton:hover {
    background-color: #45a049;
}

.users_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users_table tbody tr:hover {
    background-color: #e5e5e5;
}
.search-container{
    direction: rtl;
}

@media (max-width: 600px) {
    .users_table {
        display: none;
    }

    .cards_users {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .user-card {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 10px;
        text-align: right; /* יישור לימין */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .user-card p {
        margin: 5px 0;
        font-size: 14px;
        direction:rtl
    }

    .loadMoreButton {
        width: 100%;
        margin-top: 10px;
        font-size: 14px;
    }

    .searchInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
}
