.usersbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    direction: rtl;
}

.editForm_container, .user_information, .changePassword {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    background-color: #fff;
}

.editForm_container, .user_information {
    text-align: right;
    direction: rtl;
}

.editForm_form, .changePassword {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.editInput, .passwordInput {
    background-color: #efe8e8;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.editButton {
    margin: 10px 0;
    padding: 10px;
    background-color: #b1e773;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover {
    background-color: #7ba64a;
}

.changePassword h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .usersbody {
        display: block;
        margin: 10px;
    }

    .editForm_container, .user_information, .changePassword {
        width: 100%;
        margin-bottom: 20px;
    }
}
